<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderCardsSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrderCardsSync.Properties.Settings.connStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\backUpD\data2.mdb;Password=123;User ID=shumko;Jet OLEDB:System database=z:\tceh\system.mdw"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <OrderCardsSync.Properties.Settings>
            <setting name="pathToXml" serializeAs="String">
                <value>Z:\\Tceh\\GetKz\\getkz.xml</value>
            </setting>
        </OrderCardsSync.Properties.Settings>
    </applicationSettings>
</configuration>